.post-share {
  border: $gray-icon 1px solid;
  background: $console-color;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  width: 60%;

  h4 {
    padding: 0.5rem;
  }

  span {
    animation: fade-out 2s;
  }

  input {
    @include input;
    width: 60%;
  }

  button {
    @include button;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
