.sidebar {
  position: absolute;
  width: 20vw;
  height: 100%;
  // top: 14vh;
  right: 1vw;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  // padding-right: 2rem;
  overflow-x: hidden;

  .search-create__container {
    position: absolute;
    top: 0;

    .searchbar {
      border: gray 1px solid;
      color: gray;
      padding: 0.4rem 0.25rem;
      width: 100%;
      margin: 0.5rem 0;
    }

    .arrowBtn {
      background: linear-gradient(#fff, $primary-blue);
      border: $secondary-blue 1px solid;
      border-radius: 5px;
      margin: 0.75rem 0;
      color: $blue-font;

      &:hover {
        border-color: #879eb4;
        background: linear-gradient(#c9daec, #729dc7);
        color: white;
        cursor: pointer;
      }

      button {
        padding: 0.5rem 5rem 0.5rem 0.5rem;
        text-decoration: none;
        color: inherit;
        font-weight: bolder;
        border: none;
        background: transparent;
      }
    }

    .clonnit-premium__container {
      background-color: #1c2a37;
      margin: 2px;
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.25rem;
      margin: 0.5rem 0;

      &:hover {
        cursor: pointer;
      }

      div {
        border: 1px solid white;
        background-color: #1c2a37;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
          font-weight: bolder;
          margin: 1rem 0;
          font-size: 2rem;
          span {
            color: $primary-orange;
          }
        }

        p {
          color: white;
          margin: 0.5rem 0;
          font-size: 0.75rem;
          padding: 0 2rem;
        }

        button {
          background-color: $primary-orange;
          color: white;
          padding: 0.5rem;
          border-radius: 10px;
          border: none;
          font-weight: bold;
          margin: 1rem 0;
        }
      }
    }
  }

  .recently-viewed__container {
    color: gray;
    margin-top: 2rem;
    font-weight: 200;

    .recently-viewed {
      border: 1px solid gray;

      ul {
        list-style-type: none;
      }
    }
  }
}
