@import "resets";
@import "config";
@import "header";
@import "sidebar";
@import "loginForm";
@import "signupForm";
@import "post";
@import "newPostPopup";
@import "fonts";
@import "postComment";
@import "postShare";
@import "clonnitPremium";
@import "accountDetails";

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: $main-font;
}

ul {
  list-style-type: none;
}

// .formBackground {
//   background: #00000090;
//   width: 100vw;
//   height: 100vh;
//   z-index: 99;
// }
